<h1 class="text-center" style="margin: 40px">@artwork.title</h1>
<h1 class="text-center" style="margin: 40px">@artwork.size</h1>
<h1 class="text-center" style="margin: 40px">@artwork.location</h1>
<h1 class="text-center" style="margin: 40px">@artwork.user_id</h1>
