




<!--  <div class="search-bar">
    <form class="form-inline">
      <label class="sr-only" for="inlineFormInput">City</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Barcelona">

      <label class="sr-only" for="inlineFormInputGroup">Art</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Paint">
      </div>

      <label class="sr-only" for="inlineFormInputGroup">Start Date</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Start">
      </div>



      <label class="sr-only" for="inlineFormInputGroup">End Date</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="End">
      </div>

      <button type="submit" class="btn btn-primary"><%= link_to "Artworks", search_path %></button>
      <p></p> -->


