<div class="banner" style="background: linear-gradient(-30deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 5%), url(https://static.pexels.com/photos/428111/pexels-photo-428111.jpeg);">

  <div class="banner-content">
    <h1 class="text-center">Artify your space</h1>
    <p class="text-center">Show artwork from local artists and experience your favorite art for FREE</p>
  </div>


  <div class="search-bar">
    <form class="form-inline" action="/search" method="GET">
      <label class="sr-only" for="inlineFormInput">City</label>
      <input name="city" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Barcelona">

      <label class="sr-only" for="inlineFormInputGroup">Art</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input name="category" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Paint">
      </div>

      <label class="sr-only" for="inlineFormInputGroup">When</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input name="date_range" type="text" class="form-control" id="dateRange" placeholder="When">
      </div>
      <input type="submit"  class="btn btn-primary" value="Search!">

      <p></p>

    </form>
  </div>


</div>

<br>

<div class="overview" style="text-align: center;">
  <h2><div class="text-center padded">
  <%= link_to "Explore the art", artworks_path, class: "btn btn-primary" %></h2>
</div>

<br>




