<div class="banner" style="background-image: url(https://static.pexels.com/photos/428111/pexels-photo-428111.jpeg);">

  <div class="banner-content">
    <h1>Art you space</h1>
    <p>Show arts from local artist</p>
    <p>and experience arts you like for FREE</p>
  </div>

  <%= render 'form' %>


</div>

<br>

<div class="overview" style="text-align: center;">
  <h2>Explore the art</h2>
</div>

<br>

