<div class="banner" style="background-image: url(https://static.pexels.com/photos/428111/pexels-photo-428111.jpeg);">

  <div class="banner-content">
    <h1>Artify your space</h1>
    <p>Show artwork from local artists</p>
    <p>and experience your favorite art for FREE</p>
  </div>

  <%= render 'form' %>


</div>

<br>

<div class="overview" style="text-align: center;">
  <h2><div class="text-center padded">
  <%= link_to "Explore the art", artworks_path, class: "btn btn-primary" %></h2>
</div>

<br>

