.card {
  width: 300px;
  height: 250px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // background-size: cover !important;
  // color: white;
  // position: relative;
  // padding-top: 30px;
  // padding-left: 20px;
  margin: 10px;
  border-radius: 5px;
}

.card-body {
  background-size: cover !important;
}

.card-footer {
  height: 50px;
  position: relative;
  border: solid 1px #EEEEEE;
  // background-color: #EEEEEE;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  color: black;
  justify-content: space-around;
}

